*{
    margin:0;
    padding:0;
}
html,body{
    min-height:100%;
    font-family: Lato, sans-serif;
}
body{
    background-image: url('./imgs/bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/* header styles */

div.header{
    background-color:rgba(0, 39, 118, 0.6);
    padding:15px;
}
span.log-btn{
    color:#6d9f03;
}
span.reg-btn{
    color:#fff;
    margin-right:15px;
}
span.header-item:hover{
    cursor: pointer;
}

/* header styles end*/

/*content section */
div.search-section{
    margin-top:50px;
}
div.search-inputs{
    margin:0 auto;
}
input.search-input{
    border:none;
    background-color:#fff;
    outline: none;
    padding:0 20px;
  }
  
  input.search-input:focus,
  input.search-btn:focus {
      outline: none;
      border:none;
      box-shadow:none;
  }
  .fa-search{
    color: #6d9f03;
    font-size:1.5em;
    background-color:#fff;
    padding-left:10px;
    line-height: 1.5em;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
  }
  input.search-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    background-color:#6d9f03;
    color:#fff;
  }
  

div.slider{
    margin-top:75px;
    width:100%;
    position: relative;
}
div.slider-list{
    width:1200px;
    margin:0 auto;
}

/* slide content start */
.pic-container{
    margin:0;
    padding:0;
}
img.slidepic{
    width:100%;
    height: auto;
    border-bottom-right-radius: 10px;
}
div.info-container{
    padding:5px;
}
p.slide-para-default{
    font-size:13px;
    margin-bottom:0.3rem;
}
p.slide-para-small{
    font-size:11px;
    color: gray;
    margin-bottom:0.15rem;
}
ul.star-list{
    margin-bottom:0;
}
li.gold-star{
    color:gold;
}
li.gray-star{
color:gray;
}

span.green-text{
    color:#6d9f03;
}
div.profession-box{
    background-color:#6d9f03;
    padding:10px 0;
    color:#fff;
}
div.info-item{
    padding:10px 0;
    margin:0;
    text-align:center;
}
div.info-item p.slide-para-default{
    font-size:12px;
    padding-bottom:0;
    margin-bottom:0;
}
div.adjust-line{
    line-height: 1em;
    position:relative;
    bottom:15px;
}
div.gray-buttons-container{
    padding:0;
    margin:0;
    margin-bottom:15px;
}
button.gray-btn{
    font-size:12px;
    margin-top:5px;
    border-radius:1.5em;
    width:49.3%;
}

/* slide content end */
 div.slider-item{
    background-color:#fff;
    opacity:1;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

.arrow {
    width: 69px;
    height: 69px;
    background-color: rgba(0, 39, 118, 0.8);
    background-image:url(./imgs/arr-right32.png);
    background-repeat: no-repeat;
    background-position:center;
    border-radius:50%;
    position:absolute;
    top:50%;
    z-index: 999;
  }
.arrow:hover{
    cursor:pointer;
}
.arr-left{
    transform:translateY(-50%) rotate(180deg);
    left:-50px;
    visibility:hidden;
}
.arr-right{
    right:-50px;
    transform: translateY(-50%);
}

/* modal styling */
#registerModal div.modal-dialog{
    margin:0 auto;
    top:50%;
    transform: translateY(-50%);
}
#reg-form label{margin-bottom: .3rem;}
.modal-header{
    background-color:#6d9f03;
    color:#fff;
}
.modal-header h5{
    margin:0 auto;
}
button.description-btn,input.submit-btn{
    font-size:16px;
    color:#fff;
    background-color:#6d9f03;
    border-radius:1.5em;
    padding:7px 0;
    margin:5px 0;
    border:none;
    outline:none;
    box-shadow: none;
}
button.description-btn:active,
input.submit-btn:active,
button.description-btn:focus,
input.submit-btn:focus{
    box-shadow: none;
    background-color:#6d9f03;
}
input.submit-btn:hover{
    cursor: pointer;
}
label.pass-label{
    padding-bottom: 0;
    margin-bottom:0;
}
.modal-input{
    border:none;
    outline: none;
    background-color: #f2f0f0;
}
input.submit-btn.gray-bg{
    background-color: gray;
}
div.horz-lines { 
    width:70px; 
    text-align:center; 
    border-bottom: 1px solid #000; 
    line-height:0.1em; 
    margin:10px 0; 
} 
div.horz-lines span.lub { 
    background:#fff; 
    padding:0 5px; 
}
/* modal styling end */
/*slick styles*/
div.slick-with-btns{
    position: relative;
    max-width:100%;
}
div.slick-center{
    transform: scale(1.4,1.2);
    z-index: 99;
    transition:.5s ease-in-out
}
div.slick-wrap{
  overflow:hidden;
  padding:50px 0;
  position: relative;
}
div.slick-list{
    overflow: visible;
}
div.slick-slide{
    opacity:0;
}
div.slick-slide.slick-active{
    opacity:0.5;
    transition:.5s;
}
div.slick-slide.slick-current{
    opacity:1;
}


@media screen and (max-width: 1000px)  {
    div.slick-center{
        transform: scale(1,1);
    }
}
@media screen and (max-width: 610px)  {
    .arr-left{
        left:-25px;
    }
    .arr-right{
        right:-25px;
    }
    .arrow {
        top:0;
        bottom:50%;
    }
    div.slick-wrap{
        padding:25px 0;
    }
    
    div.slider{
        margin-top:25px;
    }
    
    div.slider-item{
        box-shadow:none;
    }
}
@media screen and (max-width: 400px)  {
    button.gray-btn{
        width:100%;
    }
    div.search-section{
        margin-top:25px;
    }
    .header-item{
        font-size:14px;
    }
    .container{
        padding:0;
    }
}